figure {
  margin: 0 52px 0 0px; }

@media (max-width: 1200px) {
  figure {
    margin: 0; } }

.fa {
  cursor: pointer; }
  .fa:hover {
    opacity: 0.8; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: "Montserrat", sans-serif; }

.user {
  background-color: #191919; }
  @media (max-width: 480px) {
    .user {
      background: #303f9f; } }

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 1200px) {
  .container-2 {
    display: flex; } }

.user__social-icon {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  background-color: #191919; }
  @media (max-width: 480px) {
    .user__social-icon {
      background: #303f9f;
      justify-content: center; } }

.user__social {
  list-style: none;
  display: flex;
  align-items: center; }
  @media (max-width: 480px) {
    .user__social {
      display: none; } }
  .user__social li {
    padding: 0 8px; }
    .user__social li .fa {
      color: #707070; }
      .user__social li .fa:hover {
        opacity: 0.8; }

.user__info {
  display: flex;
  color: #ffffff;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  font-variant: small-caps;
  letter-spacing: 0.8px; }

.user__details {
  padding: 0px 12px 0 0;
  cursor: pointer; }
  .user__details:hover {
    opacity: 0.8; }

.user__line {
  width: 1px;
  height: 24px;
  background: #b4b4b4;
  opacity: 0.38; }

.user__lang {
  padding: 0 0 0 16px;
  cursor: pointer; }
  .user__lang:hover {
    opacity: 0.8; }

@media (max-width: 480px) {
  .user__info {
    display: flex;
    flex-direction: row-reverse;
    color: #ffffff;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    font-variant: small-caps;
    letter-spacing: 0.8px; }
  .user__details {
    padding: 0px 12px 0 0;
    display: flex; }
  .user__line {
    width: 1px;
    height: 24px;
    background: #b4b4b4;
    opacity: 0.38;
    display: flex; }
  .user__lang {
    padding: 0 0 0 16px;
    display: flex; } }

@media (min-width: 960px) {
  .hamburger-menu {
    display: none; } }

@media (max-width: 959px) {
  .heading {
    background: #3f51b5; }
  .shop::before {
    padding: 2px 5px 0px 5px;
    background: #ff4081;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 68px;
    right: 15px;
    content: "7";
    color: #fff; }
  .heading__icons {
    display: none; }
  .fa-search {
    display: none; }
  .user__line {
    display: none; }
  #menu__toggle {
    opacity: 0; }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg); }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0); }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg); }
  #menu__toggle:checked ~ .menu__items {
    visibility: visible;
    left: 0; }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 15px;
    right: 20px;
    justify-content: center;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 3; }
    .menu__btn:hover {
      background: #c5c5c5; } }

@media (max-width: 959px) and (min-width: 960px) {
  .menu__btn {
    visibility: hidden; } }

@media (max-width: 959px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s; }
  .btn span {
    left: 10px; }
  .menu__btn span::before {
    content: "";
    top: -8px; }
  .menu__btn span::after {
    content: "";
    top: 8px; }
  .menu__items {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #822dfd;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 2; }
    .menu__items a {
      color: #333; }
  .menu__items {
    display: block;
    padding: 105px 24px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase; } }

@media (min-width: 960px) {
  .heading {
    background: url("../img/Layer 66@1X.png");
    position: relative; } }

.heading__arrow-left .fa-angle-left {
  position: absolute;
  top: 50%;
  color: #ffffff;
  left: 42px;
  transform: translatey(-55px); }

.heading__arrow-right .fa-angle-right {
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  right: 42px;
  transform: translatey(-55px); }

.heading__top {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px; }

.heading__logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: -6px 8px;
  text-transform: uppercase;
  letter-spacing: 1.92px;
  cursor: pointer;
  text-decoration: none; }

.heading__icons {
  align-items: center; }
  .heading__icons ul {
    display: flex; }
    .heading__icons ul li {
      list-style: none; }
      .heading__icons ul li .fa-angle-down {
        padding: 0 0 0 0px;
        color: #ffffff; }
      .heading__icons ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin: 0 0 0 15px; }
        .heading__icons ul li a:hover {
          border-bottom: 4px solid #ff4081;
          padding: 0 0 15px 0; }

.heading__info {
  display: flex;
  align-items: center; }
  .heading__info .fa {
    color: #fff;
    padding: 0 17px 0 17px;
    cursor: pointer; }

.article__desc {
  text-align: center;
  padding: 170px 0 65px 0; }

.article__author-avatar {
  margin: 75px 0px 0px 0px; }

.article__tag {
  margin: 0;
  opacity: 0.7;
  color: #ffffff;
  font-weight: 400;
  line-height: 27px;
  font-variant: small-caps;
  font-size: 27px; }
  .article__tag a {
    color: #fff; }

.article__title {
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 16px 0px 34px 0px; }

.article__author-avatar img {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto; }

.article__author-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  margin: 7px 0px 0 0px; }
  .article__author-name a {
    color: #fff;
    text-decoration: none; }

.article__date {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__activity {
  display: flex;
  justify-content: center;
  opacity: 0.7;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.6px;
  margin: 29px 0 0 0; }

.article__comments {
  margin: 0 -8px 0 0px; }
  .article__comments a {
    color: #ffffff;
    text-decoration: none; }

.article__likes {
  padding: 0px 20px 0 0px;
  margin: 0px 0px 0 34px; }
  .article__likes a {
    color: #ffffff;
    text-decoration: none; }

@media (max-width: 960px) {
  .article__desc {
    display: none; } }

.button {
  font-size: 24px;
  line-height: 36px;
  font-variant: small-caps;
  letter-spacing: 1.2px;
  color: #fff;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  border: none;
  padding: 3px 25px 7px 25px;
  cursor: pointer;
  outline: none; }
  .button:hover {
    background-color: #1d2d96;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }
  .button:active {
    background-color: #041dbe;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }

@media (min-width: 960px) {
  #main__nav-select {
    display: none; } }

@media (max-width: 960px) {
  #main__nav-select {
    background: #ffffff;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #cbd1d8;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 15px 0; }
  .main__nav-option {
    margin: 14px; }
  .main__nav-label,
  ul.main__nav-tags {
    display: none; } }

.main {
  background-color: #f5f5f5; }
  .main__nav-wrapper {
    background-color: #fff;
    padding: 0 15px; }
  .main__nav-label {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
    margin: 0 20px 0 0; }
  .main__nav {
    display: flex;
    padding: 15px 0 15px 0px; }
    .main__nav-tags {
      list-style: none;
      display: flex; }
    .main__nav-tag {
      margin: 0px 18px 0 0;
      padding: 0px 27px;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.87;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      font-variant: small-caps;
      letter-spacing: 0.8px;
      border-radius: 15px;
      background-color: #f5f5f5; }
      .main__nav-tag--active {
        color: #3f51b5;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        font-variant: small-caps;
        letter-spacing: 0.8px;
        box-shadow: 0 1px 0 #dddddd;
        background-color: #ffffff;
        border: 1px solid #3f51b5; }
  .main__content {
    margin: 30px 0 0 0; }
  .main__wrapper {
    display: flex; }

/***1***/
.article--main {
  background-color: #f5f5f5; }

.article__play {
  position: absolute;
  top: 44.4%;
  left: 47.6%; }

.article__visual {
  position: relative;
  color: #fff; }
  .article__visual img {
    width: 100%; }
  .article__visual-tag {
    position: absolute;
    left: 20px;
    bottom: 8px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-activity {
    position: absolute;
    right: 1px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__play {
    display: none; } }

/***1***/
.article__content {
  margin: 0;
  position: relative; }

.article__desc-2 {
  background: #fff; }

.article__title-2 {
  opacity: 0.87;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.9px;
  padding: 11px 20px 0 20px; }

.article__txt-2 {
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 0 18px 20px;
  letter-spacing: 0.15px;
  margin: 11px 0 3px 0;
  line-height: 23px; }

.article__info-2 {
  padding: 13px 23px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-2 {
  display: flex;
  padding: 3px 0 0 0; }
  .article__author-avatar-2 img {
    border-radius: 50%;
    margin: 0 15px 0 0;
    cursor: pointer; }

.article__author-name-2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px; }
  .article__author-name-2 a {
    text-decoration: none; }

.article__date-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

/***2***/
.article__play-2 {
  position: absolute;
  top: 34%;
  left: 43%; }

.article__visual-2 {
  position: relative;
  color: #fff; }
  .article__visual-2-tag-3 {
    margin: 0;
    top: 135px;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-2-activity-2 {
    position: absolute;
    right: 20px;
    top: 135px;
    display: flex;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__visual-2-tag-3 {
    top: 42px;
    left: 20px; } }

@media (max-width: 768px) {
  .article__visual-2-activity-2,
  .article__visual-3-activity-3,
  .article__visual-4-activity-4 {
    left: 170px; } }

@media (max-width: 480px) {
  .article__visual-2-activity-2 {
    left: 20px;
    top: 60px; } }

@media (min-width: 480px) {
  .article__visual-2 > img {
    max-width: 260px; } }

@media (max-width: 480px) {
  .article__visual-2 > img {
    width: 100%;
    height: 100%; } }

/***2***/
.article__content-3 {
  background-color: #fff;
  display: flex;
  margin: 20px 52px 0px 0px; }

.article__title-3 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 4px 0 5px 0; }

.article__txt-3 {
  line-height: 26px;
  padding: 0 20px 14px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-3 {
  padding: 9px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-3 {
  display: flex; }
  .article__author-avatar-3 img {
    border-radius: 50%;
    margin: 0 12px 0 0;
    cursor: pointer; }

.article__author-name-3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 10px 0 0px 0px; }
  .article__author-name-3 a {
    text-decoration: none; }

.article__date-3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-2 {
  padding: 0 19px 0 0;
  font-size: 12px; }
  .article__comments-2 a {
    color: #fff; }

@media (max-width: 480px) {
  .article__author-avatar-3 img {
    display: none; }
  .article__title-3 {
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    margin: 4px 5px 5px 5px;
    padding: 0 3px;
    line-height: 1; }
  .article__info-3 {
    padding: 0 10px;
    align-items: flex-end;
    border-top: 1px solid #e0e0e0; }
  .article__info_more {
    padding: 0 0 5px 0; } }

@media (max-width: 480px) {
  .article__txt-3 {
    display: none; } }

@media (max-width: 1200px) {
  .article__content-3 {
    margin: 20px 0 0 0; } }

@media (max-width: 480px) {
  .article__content-3 {
    border-radius: 3%;
    box-shadow: 4px 4px 10px #ccc; } }

/***3***/
.article__play-3 {
  position: absolute;
  top: 33%;
  left: 41%; }

.article__visual-3 {
  position: relative;
  color: #fff; }
  .article__visual-3-tag-4 {
    margin: 0;
    bottom: 62%;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-3-activity-3 {
    position: absolute;
    right: 20px;
    bottom: 20%;
    display: flex;
    align-items: center;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__visual-3-tag-4 {
    bottom: 34%; } }

@media (min-width: 480px) {
  .article__visual-3 > img {
    max-width: 260px; } }

@media (max-width: 480px) {
  .article__visual-3-activity-3 {
    left: 20px; } }

@media (max-width: 480px) {
  .article__visual-3 > img {
    width: 100%; } }

/***3***/
.article__content-4 {
  background-color: #fff;
  display: flex;
  margin: 20px 52px 0px 0px; }

.article__title-4 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 4px 0; }

.article__txt-4 {
  line-height: 26px;
  padding: 0px 23px 14px 18px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-4 {
  padding: 10px 20px 4px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-4 {
  display: flex; }
  .article__author-avatar-4 img {
    border-radius: 50%;
    margin: 0px 12px 0px 3px;
    cursor: pointer; }

.article__author-name-4 {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.7px;
  margin: 7px 6px 0px 0px; }

.article__date-4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-3 {
  padding: 0px 21px 0 0;
  font-size: 12px; }
  .article__comments-3 a {
    color: #ffffff; }

@media (max-width: 480px) {
  .article__title-4 {
    display: none; }
  .article__txt-4 {
    display: none; }
  .article__author-avatar-4 img {
    display: none; }
  .article__info-4 {
    padding: 0px 10px 4px 10px; } }

@media (max-width: 480px) {
  .article__title_txt {
    color: #000;
    padding: 5px 10px;
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0; } }

@media (min-width: 480px) {
  .article__title_txt {
    display: none; } }

@media (max-width: 1200px) {
  .article__content-4 {
    margin: 20px 0 0 0; } }

@media (max-width: 480px) {
  .article__content-4 {
    flex-direction: column; }
  .article__column, .article__column-2 {
    display: flex; } }

@media (min-width: 480px) {
  .article__column-2 {
    display: flex; } }

/***4***/
.article__play-4 {
  position: absolute;
  top: 33%;
  left: 41%; }

.article__visual-4 {
  position: relative;
  color: #fff; }
  .article__visual-4 img {
    max-width: 260px; }
  .article__visual-4-tag-5 {
    margin: 0;
    bottom: 24px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-4-activity-4 {
    position: absolute;
    right: 20px;
    bottom: 24px;
    display: flex;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__visual-4-activity-4 {
    position: absolute;
    left: 20px;
    bottom: 10px;
    display: flex;
    font-size: 12px; }
  .article__visual-4 > img {
    width: 100%; } }

@media (max-width: 768px) {
  .article__visual-4 > img {
    max-width: 260px; } }

@media (min-width: 768px) {
  .article__visual-4 > img {
    max-width: 260px; } }

/***4***/
@media (min-width: 480px) {
  .article__content-5 {
    display: flex; } }

.article__content-5 {
  background-color: #fff;
  margin: 20px 52px 0px 0px; }

.article__title-5 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 4px 0; }

.article__txt-5 {
  padding: 0 20px 14px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px;
  margin: 5px 0 0 0; }

.article__info-5 {
  padding: 10px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-5 {
  display: flex; }
  .article__author-avatar-5 img {
    border-radius: 50%;
    margin: 0 12px 0 0;
    cursor: pointer; }

.article__author-name-5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  padding: 10px 0 0 0;
  cursor: pointer; }

.article__date-5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-4 {
  padding: 0 23px 0 0; }
  .article__comments-4 a {
    color: #fff; }

@media (max-width: 1200px) {
  .article__content-5 {
    margin: 20px 0 0 0; } }

@media (max-width: 480px) {
  .article__content-5 {
    margin: 20px 6px 0 6px; } }

@media (max-width: 480px) {
  .article__title-5 {
    display: none; } }

@media (max-width: 480px) {
  .article__txt-5 {
    display: none; } }

@media (max-width: 480px) {
  .article__info-5 {
    display: none; } }

/***5***/
.article__container {
  display: flex; }

@media (max-width: 1200px) {
  .article__container {
    display: flex;
    justify-content: center; } }

@media (max-width: 768px) {
  .article__container {
    flex-wrap: wrap;
    justify-content: center; } }

.article__play-5 {
  position: absolute;
  top: 33%;
  left: 42%; }

.article__visual-5 {
  position: relative;
  color: #fff; }
  .article__visual-5 img {
    width: 100%; }
  .article__visual-5-tag-6 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-5-activity-5 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    font-size: 12px;
    align-items: center; }

@media (min-width: 968px) {
  .article__visual-5 img {
    max-width: 260px; } }

@media (max-width: 480px) {
  .article__visual-5-tag-6 {
    bottom: 33px; } }

@media (max-width: 480px) {
  .article__play-5 {
    display: none; } }

@media (max-width: 480px) {
  .article__visual-5 > img {
    width: 100%; } }

@media (max-width: 768px) {
  .article__play-2 {
    display: none; } }

/***5***/
.article__content-6 {
  background-color: #fff;
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column; }

.article__title-6 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__txt-6 {
  line-height: 26px;
  padding: 0px 20px 25px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }
  .article__txt-6:nth-child(3) {
    margin: 5px 0 5px 0;
    padding: 0 20px 25px; }

.article__info-6 {
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-6 {
  display: flex; }
  .article__author-avatar-6 img {
    border-radius: 50%;
    margin: 0 12px 0 0;
    cursor: pointer; }

.article__author-name-6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.7px;
  cursor: pointer; }

.article__date-6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-5 {
  padding: 2px 23px 0 0;
  font-size: 12px; }
  .article__comments-5 a {
    color: #fff; }

@media (min-width: 480px) {
  .article__title_txt {
    display: none; } }

@media (max-width: 480px) {
  .avatar_img {
    display: none; } }

@media (max-width: 480px) {
  .article__txt-6 {
    display: none; }
  .article__title-7 {
    display: none; } }

@media (max-width: 1200px) {
  .article__content-6 {
    margin: 20px 10px 0 0; } }

@media (max-width: 968px) {
  .article__content-6:nth-child(3) {
    margin: 20px 0px 0 0; } }

/***6***/
.article__play-6 {
  position: absolute;
  top: 33%;
  left: 41%; }

.article__visual-6 {
  position: relative;
  color: #fff; }
  .article__visual-6 img {
    max-width: 260px; }
  .article__visual-6-tag-7 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-6-activity-6 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__desc-6 {
    display: none; } }

.article__desc-6
.article__content-7 {
  background-color: #fff;
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column; }

.article__desc-6
.article__title-7 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__desc-6
.article__txt-7 {
  line-height: 26px;
  padding: 0px 21px 26px 21px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__desc-6
.article__info-7 {
  padding: 12px 22px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__desc-6
.article__author-avatar-7 {
  display: flex; }
  .article__desc-6
.article__author-avatar-7 img {
    border-radius: 50%;
    margin: 0 12px 0 0;
    cursor: pointer; }

.article__desc-6
.article__author-name-7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  cursor: pointer; }

.article__desc-6
.article__date-7 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__desc-6
.article__comments-6 {
  padding: 0 30px 0 0; }
  .article__desc-6
.article__comments-6 a {
    color: #ffffff; }

.article__title-7 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__info-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 10px 20px; }

@media (max-width: 480px) {
  .article__info-7 {
    padding: 0px 10px 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; } }

/***7***/
.article__left_arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-20px); }
  .article__left_arrow > .fa-angle-left {
    padding: 0 12px 0 10px;
    background: #fff;
    color: #6372c3; }

.article__right_arrow {
  right: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-20px); }
  .article__right_arrow > .fa-angle-right {
    padding: 0 10px 0 12px;
    background: #fff;
    color: #6372c3; }

.article__visual-7 {
  position: relative;
  color: #fff; }
  .article__visual-7 img {
    max-width: 260px; }
  .article__visual-7-tag-8 {
    margin: 0;
    bottom: 19px;
    position: absolute;
    left: 19px;
    font-size: 11px;
    text-transform: uppercase; }
  .article__visual-7-activity-7 {
    position: absolute;
    right: 18px;
    bottom: 20px;
    display: flex; }

/***7***/
.article__content-8 {
  background-color: #fff;
  margin: 20px 15px 0 0;
  display: flex;
  flex-direction: column; }

.article__title-8 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__txt-8 {
  line-height: 26px;
  padding: 0px 20px 30px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-8 {
  padding: 15px 22px 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-8 {
  display: flex; }
  .article__author-avatar-8 img {
    border-radius: 50%;
    margin: 0 12px 0 0;
    cursor: pointer; }

.article__author-name-8 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  cursor: pointer; }

.article__date-8 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px;
  color: #878787; }

.article__comments-7 {
  padding: 0 26px 0 0; }
  .article__comments-7 a {
    color: #ffffff; }

@media (max-width: 480px) {
  .article__info-8 {
    padding: 4px;
    border-top: 1px solid #ccc; } }

/***8***/
.article__visual-8 {
  position: relative;
  color: #fff; }
  .article__visual-8-tag-9 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-8-activity-8 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__visual-8-tag-9 {
    bottom: 35px; }
  .article__visual-8-activity-8 {
    left: 20px; } }

@media (max-width: 1200px) {
  .article__visual-8 img {
    width: 100%;
    height: 100%; } }

/***8***/
.article__content-9 {
  background-color: #fff;
  margin: 20px 20px 20px 0px;
  display: flex; }

.article__title-9 {
  opacity: 0.87;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  padding: 0px 20px 0 20px;
  margin: 12px 0 0px 0; }

.article__txt-9 {
  padding: 13px 20px 34px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.56px; }

.article__info-9 {
  padding: 10px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-9 {
  display: flex; }
  .article__author-avatar-9 img {
    border-radius: 50%;
    margin: 0 15px 0 0;
    cursor: pointer; }

.article__author-name-9 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  cursor: pointer; }

.article__date-9 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-8 {
  padding: 0 30px 0 0; }
  .article__comments-8 a {
    color: #ffffff; }

@media (max-width: 768px) {
  .article__content-9 {
    max-width: 50%;
    justify-content: center;
    margin: 20px auto; } }

@media (min-width: 480px) {
  .article__content-9 {
    flex-direction: column; } }

@media (max-width: 480px) {
  .article__content-9 {
    max-width: 100%; }
  .article__txt-9 {
    display: none; }
  .article__title-9 {
    padding: 0px 10px 0 10px;
    margin: 0px; }
  .article__title-9 {
    display: none; }
  .article__title_txt-3 {
    margin: 5px;
    font-size: 16px; }
  .article__visual-9-tag-10 {
    bottom: 35px; }
  .article__visual-9-activity-9 {
    left: 20px; }
  .article__content-10 {
    max-width: 100%;
    margin: 0 0 30px 0; }
  .article__info-10 {
    padding: 0 5px;
    border-top: 1px solid #ccc; }
  .article__txt-10 {
    display: none; }
  .article__title_txt-4 {
    display: none; }
  .article__title_txt-5 {
    margin: 5px;
    font-size: 16px; }
  .article__button_more {
    display: none; }
  .avatar__img-8 {
    display: none; }
  .avatar__img-10 {
    display: none; } }

@media (min-width: 480px) {
  .article__title_txt-3 {
    display: none; }
  .article__info-10 {
    padding: 15px 22px 20px 18px; } }

/***9***/
.article__visual-9 {
  position: relative;
  color: #fff; }
  .article__visual-9-tag-10 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-9-activity-9 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

@media (max-width: 480px) {
  .article__visual-9-tag-10 {
    bottom: 35px; } }

@media (max-width: 1200px) {
  .article__visual-9 img {
    width: 100%;
    height: 100%; } }

/***9***/
.article__content-10 {
  background-color: #fff;
  margin: 20px 52px 20px 0px;
  display: flex; }

.article__title-10 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 12px 0; }

.article__txt-10 {
  line-height: 26px;
  padding: 15px 23px 33px 18px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.64px; }

.article__info-10 {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-10 {
  display: flex; }
  .article__author-avatar-10 img {
    border-radius: 50%;
    margin: 0 6px 0 0;
    cursor: pointer; }

.article__author-name-10 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  cursor: pointer; }

.article__date-10 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-9 {
  padding: 0 31px 0 0;
  color: #ffffff; }
  .article__comments-9 a {
    color: #ffffff; }

@media (max-width: 1200px) {
  .article__content-10 {
    margin: 20px 0px 20px 0px; } }

@media (max-width: 768px) {
  .article__content-10 {
    max-width: 50%;
    justify-content: center;
    margin: 0 auto; } }

@media (max-width: 480px) {
  .article__content-10 {
    max-width: 100%; } }

@media (min-width: 480px) {
  .article__content-10 {
    flex-direction: column; }
  .article__title_txt-5 {
    display: none; }
  .article__title_txt-4 {
    display: none; } }

.article__button_more {
  align-items: center;
  justify-content: flex-end;
  margin: 14px 52px 50px 0;
  display: flex; }

.article__button_txt {
  color: #303f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.8px;
  margin: 0 7px 0 0; }

.article__button_arrow .fa-arrow-right {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  color: #3f51b5;
  padding: 14px;
  cursor: pointer; }

.sidebar__main {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0px;
  background: #fff;
  padding: 0px 5px 0 10px;
  background: #fff; }

.sidebar__title {
  color: #3f51b5;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  border-bottom: 1px solid #2962ff;
  padding: 30px 0 7px 0;
  margin: 1px 0px 0px 0px; }

.sidebar__search {
  position: relative;
  padding: 23px 0px 0px 0; }
  .sidebar__search > input {
    border: none;
    padding: 14px 90px 11px 15px;
    border-radius: 23px;
    background: #f5f5f5;
    color: #a4a4a4;
    letter-spacing: 0.64px;
    outline: none; }
  .sidebar__search .fa-search {
    color: #ffffff;
    position: absolute;
    top: 26px;
    right: 5px; }
  .sidebar__search .fa {
    background: #ff4081;
    padding: 9px;
    border-radius: 50%;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12); }

.sidebar__categories-title span {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 0;
  letter-spacing: 0.56px; }

.sidebar__categories dl {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  border-bottom: 1px solid #ebeaea; }
  .sidebar__categories dl:last-child {
    border: none; }
  .sidebar__categories dl dt {
    padding: 15px 3px 8px 0px;
    font-size: 13px; }
  .sidebar__categories dl dd {
    opacity: 0.87;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700; }

.sidebar__subcribe {
  margin: 10px 0px -12px 0px; }
  .sidebar__subcribe_name {
    margin: 15px 0px 14px 0px; }
  .sidebar__subcribe_email {
    margin: 15px 0px 12px 0; }
  .sidebar__subcribe_input {
    padding: 12px 92px 12px 12px;
    border-radius: 3px;
    border: 1px solid #e0e0e0; }
  .sidebar__subcribe_button {
    border-radius: 4px;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    font-variant: small-caps;
    letter-spacing: 1.2px;
    padding: 5px 84px;
    margin: 8px 1px 24px 0px;
    position: relative;
    border: none;
    cursor: pointer; }
    .sidebar__subcribe_button:hover {
      background-color: #1d2d96;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }
    .sidebar__subcribe_button:active {
      background-color: #041dbe;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }
  .sidebar__subcribe_line {
    height: 1px;
    background-color: #000;
    position: relative; }
    .sidebar__subcribe_line span {
      position: absolute;
      bottom: -14px;
      right: 44%;
      background: #fff;
      padding: 7px 11px;
      border-radius: 50%; }
  .sidebar__subcribe_icons {
    margin: 24px 0 0 0; }
    .sidebar__subcribe_icons ul {
      display: flex; }
      .sidebar__subcribe_icons ul .fa {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        font-size: 18px;
        line-height: 36px;
        text-align: center; }
      .sidebar__subcribe_icons ul .fa-facebook {
        color: #ffffff;
        background: #3b5999; }
      .sidebar__subcribe_icons ul .fa-twitter {
        color: #ffffff;
        background: #55acee; }
      .sidebar__subcribe_icons ul .fa-vk {
        color: #ffffff;
        background: #4c75a3; }
      .sidebar__subcribe_icons ul .fa-pinterest {
        color: #ffffff;
        background: #ff2e56; }
      .sidebar__subcribe_icons ul .fa-tumblr {
        color: #ffffff;
        background: #34465d; }
      .sidebar__subcribe_icons ul .fa-dribbble {
        color: #ffffff;
        background: #ea4c89; }
    .sidebar__subcribe_icons-items {
      padding: 0 9px 0 0; }

.sidebar__post_buttons {
  display: flex;
  margin: 25px 0 0 0;
  border: 1px solid #3f51b5;
  border-radius: 4px; }

.sidebar__post_button {
  font-size: 14px;
  font-variant: small-caps;
  padding: 11px 30px 10px 26px;
  cursor: pointer; }
  .sidebar__post_button:hover {
    color: #ffffff;
    background-color: #1d2d96;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }
  .sidebar__post_button:active {
    background-color: #041dbe;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }
  .sidebar__post_button-active {
    border-right: 1px solid; }

.sidebar__post_content {
  padding: 0px 0 14px 0;
  border-bottom: 1px solid #dee5e9; }

.sidebar__post_content:nth-child(6) {
  border-bottom: none; }

.sidebar__post_desc {
  margin: 15px 0 0 0;
  display: flex; }

.sidebar__post_info {
  padding: 0px 0px 0 12px; }
  .sidebar__post_info .fa {
    color: #6f7dc8;
    margin: 0px 6px 0 0;
    font-size: 14px; }

.sidebar__post_date {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.5px; }

.sidebar__post_time {
  font-size: 13px; }

.sidebar__post_title {
  font-weight: 600;
  padding: 5px 0 0 0; }

.sidebar__post-title {
  margin: 16px 0px -8px 0px; }

.sidebar__tags_list {
  margin: 15px 0 0 0; }
  .sidebar__tags_list ul {
    display: flex;
    flex-wrap: wrap; }

.sidebar__tags_item {
  background-color: #eeeeee;
  padding: 7px 24px 5px 13px;
  margin: 5px 10px 6px 0px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600; }

@media (max-width: 480px) {
  .sidebar__categories dl {
    border-bottom: 1px solid #606060; }
    .sidebar__categories dl dd {
      color: #828282; } }

@media (max-width: 1200px) {
  dl dt a {
    color: #909090; } }

@media (max-width: 1200px) {
  .sidebar__post {
    display: none; }
  .sidebar__title {
    border-bottom: none;
    color: #fff; }
  .sidebar__tags_item a {
    color: #909090; }
  .sidebar__tags_item {
    background: transparent;
    border: 1px solid #909090; } }

@media (max-width: 480px) {
  .sidebar__main {
    background-color: #242527; }
    .sidebar__main_logo {
      font-size: 26px;
      font-weight: 600;
      margin: 40px 0 20px;
      color: #fff; }
    .sidebar__main_btn {
      background-color: #303030;
      margin: 10px 137px 0 0;
      padding: 0px 20px;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.87;
      color: #909090;
      font-size: 11px;
      font-weight: 400;
      line-height: 27px;
      font-variant: small-caps;
      letter-spacing: 0.8px;
      border-radius: 15px; }
    .sidebar__main_text {
      color: #909090; } }

@media (min-width: 480px) {
  .sidebar__main_logo,
  .sidebar__main_text,
  .sidebar__main_btn {
    display: none; } }

@media (max-width: 1200px) {
  .sidebar__search,
  .sidebar__subcribe {
    display: none; } }

.main__slider {
  display: flex;
  justify-content: center; }

@media (max-width: 480px) {
  #main__slider {
    display: none; } }

.subscribe__background {
  background: #242527; }

.subscribe__input {
  display: flex;
  padding: 77px 0 74px 0;
  justify-content: space-around;
  align-items: center; }
  .subscribe__input h2 {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 3.3px; }

.subscribe__email input {
  border: 1px solid #75797a;
  padding: 13px 70px 13px 20px;
  border-radius: 23px;
  background: transparent;
  color: #a4a4a4;
  letter-spacing: 0.64px;
  margin: 0 15px 0 20px;
  outline: none; }

.subscribe__buttnon {
  margin: 0px -8px 0px 0px; }

@media (max-width: 768px) {
  .subscribe__input {
    flex-direction: column;
    text-align: center; }
  __email {
    margin: 20px 0; } }

@media (max-width: 1200px) {
  .subscribe__input,
  .footer__widget_pages,
  .footer__widget_combined {
    display: none; } }

.footer__main {
  background-color: #242527; }

.footer__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  padding: 0 0 24px 0; }

.footer__widget {
  padding: 50px 0 70px 0;
  display: flex; }
  .footer__widget_pages {
    padding: 0 0px 18px 0px; }
  .footer__widget_accordion .accordion {
    background: transparent;
    color: #bdbdbd;
    cursor: pointer;
    padding: 15px 0px 12px 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    opacity: 0.38;
    margin: 0px 87px -1px 0;
    display: flex;
    justify-content: space-between; }
  .footer__widget_accordion .panel {
    padding: 0 18px;
    background: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #595959;
    margin: 0 0 7px 0;
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
    border-left: 1px solid #757575;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .footer__widget_accordion .panel p {
      font-size: 14px; }
  .footer__widget_accordion .accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #909090;
    float: right;
    margin-left: 45px;
    margin-right: 10px; }
  .footer__widget_accordion .active:after {
    content: "\2796"; }
  .footer__widget_combined {
    padding: 0 0px 0 0px;
    margin: 0 0px 0 25px; }
  .footer__widget_twitter {
    margin: 0px 0px 23px 0px; }
  .footer__widget_info {
    margin: 0 0 0 0; }
    .footer__widget_info:nth-child(3) {
      border-bottom: 1px solid #a9a9a9;
      border-top: 1px solid #a9a9a9;
      padding: 16px 0 3px 0; }
    .footer__widget_info a {
      height: 100%; }
    .footer__widget_info img {
      margin: 0px 0px 0 8px; }
    .footer__widget_info-3 {
      margin: 12px 0 0 0; }
      .footer__widget_info-3 a {
        height: 100%; }
      .footer__widget_info-3 img {
        margin: 0px 0px 0 8px; }
  .footer__widget_breadcrumb span {
    color: #a9a9a9;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin: 0 2px 0 0px; }
    .footer__widget_breadcrumb span a {
      color: #a9a9a9; }
    .footer__widget_breadcrumb span:nth-child(n + 3) {
      border-bottom: 1px solid; }
  .footer__widget_icon {
    display: flex; }
    .footer__widget_icon P {
      margin: -4px 0 0 0;
      color: #cecece;
      font-size: 14px;
      font-size: 13px;
      letter-spacing: 0.52px;
      letter-spacing: 0.56px;
      padding: 0px 0px 0px 22px;
      line-height: 20px; }
  .footer__widget_social {
    padding: 0 0px 0px 0px; }
    .footer__widget_social ul {
      display: flex; }
      .footer__widget_social ul .fa {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        font-size: 18px;
        line-height: 36px;
        text-align: center; }
      .footer__widget_social ul .fa-facebook {
        color: #ffffff;
        background: #3b5999; }
      .footer__widget_social ul .fa-twitter {
        color: #ffffff;
        background: #55acee; }
      .footer__widget_social ul .fa-vk {
        color: #ffffff;
        background: #4c75a3; }
      .footer__widget_social ul .fa-pinterest {
        color: #ffffff;
        background: #ff2e56; }
      .footer__widget_social ul .fa-tumblr {
        color: #ffffff;
        background: #34465d; }
      .footer__widget_social ul .fa-dribbble {
        color: #ffffff;
        background: #ea4c89; }
    .footer__widget_social-items {
      padding: 0 9px 0 0; }
  .footer__widget_flickr {
    margin: 0px 0px 0 25px; }
  @media (max-width: 768px) {
    .footer__widget_flickr {
      margin: 0;
      text-align: center; } }
  .footer__widget_img img {
    padding: 3px; }
  .footer__widget_form {
    display: flex;
    flex-direction: column; }
    .footer__widget_form input {
      padding: 15px 0px 12px 14px;
      color: #909090;
      background: none;
      border: 1px solid #909090;
      border-radius: 3px;
      outline: none;
      margin: 0 0 10px 0; }
    .footer__widget_form-button {
      padding: 10px 20px 10px 20px;
      margin: 10px 0 0px 0px;
      background: #303030;
      border: transparent;
      color: #fff;
      border-radius: 3px;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      outline: none; }
  .footer__widget .textarea {
    padding: 16px 26px 0px 15px;
    color: #909090;
    background: none;
    border: 1px solid #909090;
    border-radius: 3px;
    height: 105px;
    color: #909090;
    outline: none; }
  .footer__widget_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

@media (max-width: 768px) {
  .footer__widget_social {
    padding: 0 0 10px 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column; }
  __title {
    text-align: center; }
  __widget_img {
    justify-content: center; } }

@media (max-width: 1200px) {
  .footer__widget_social {
    display: none; } }

@media (max-width: 480px) {
  .footer__widget_img img:nth-child(1),
  img:nth-child(2),
  img:nth-child(3),
  img:nth-child(4),
  img:nth-child(5) {
    display: none; } }

.footer {
  background: #303030; }
  .footer__lower {
    padding: 35px 0 35px 0;
    align-items: center;
    justify-content: space-between; }
    .footer__lower_nav {
      display: flex;
      align-items: center; }
    .footer__lower ul li {
      list-style: none;
      padding: 0 0 0 25px;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      padding: 0 33px 0 10px; }
      .footer__lower ul li a {
        text-decoration: none;
        color: #ffffff; }
    .footer__lower_search {
      position: relative;
      margin: 0 0 0 70px; }
      .footer__lower_search > input {
        border: 1px solid #a4a4a4;
        padding: 8px 33px 8px 19px;
        border-radius: 23px;
        background: transparent;
        color: #a4a4a4;
        letter-spacing: 0.64px;
        outline: none; }
      .footer__lower_search .fa-search {
        color: #a4a4a4;
        position: absolute;
        top: 10px;
        right: 14px;
        font-size: 13px; }
    .footer__lower_lang {
      display: flex;
      align-items: flex-end;
      color: #a4a4a4; }
      .footer__lower_lang .fa-globe {
        padding: 0 5px 0 0; }
      .footer__lower_lang span {
        font-size: 12px;
        padding: 0 3px 0 0; }

@media (min-width: 480px) {
  .footer__lower {
    display: flex; }
    .footer__lower ul {
      display: flex; } }

@media (min-width: 480px) {
  .footer__lower_social {
    display: none; } }

.footer__lower_social {
  list-style: none;
  align-items: center; }

.footer__lower_social li .fa {
  color: #707070;
  font-size: 16px; }

@media (max-width: 480px) {
  .footer__lower_social ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0; } }

@media (max-width: 768px) {
  .footer__lower_nav {
    margin: 0 auto; } }

@media (max-width: 480px) {
  .footer__lower_nav {
    display: none; } }

@media (max-width: 768px) {
  .footer__lower ul li {
    padding: 0 4px;
    font-size: 10px; } }

@media (max-width: 1200px) {
  .footer__lower_lang {
    display: none; }
  .footer__lower_search {
    display: none; }
  .footer__widget_news {
    display: none; } }

@media (max-width: 960px) {
  .footer__widget {
    flex-wrap: wrap;
    justify-content: center; } }

.footer__lower_copyright {
  display: flex;
  justify-content: center; }
  .footer__lower_copyright p {
    margin: 0px 0 0 0;
    color: #909090;
    font-size: 14px; }
  .footer__lower_copyright span {
    width: 1px;
    height: 16px;
    background: #b4b4b4;
    opacity: 0.38;
    margin: 0 5px; }

@media (min-width: 480px) {
  .footer__lower_copyright {
    display: none; } }

.owl-prev {
  position: absolute;
  left: 30px;
  top: 80%;
  transform: translatey(-90px);
  color: #fff !important;
  background: #fff;
  outline: none; }

@media (max-width: 960px) {
  .fa-angle-left:before,
  .fa-angle-right:before {
    display: none; } }

.owl-next {
  position: absolute;
  right: 30px;
  top: 80%;
  transform: translatey(-90px);
  color: #fff !important;
  background: #fff;
  outline: none; }

.slide-two {
  max-width: 260px; }

.slide-two .owl-prev {
  position: absolute;
  left: 30px;
  top: 93%;
  transform: translatey(-90px);
  background: #fff;
  outline: none;
  padding: 10px 14px !important; }

.slide-two .owl-next {
  position: absolute;
  left: 206px;
  top: 94%;
  transform: translatey(-90px);
  color: #fff;
  background: #fff;
  outline: none; }

.owl-carousel .article__author-avatar > img {
  width: 53px;
  height: 53px; }

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  display: block; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

ul {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=index.css.map */
