figure {
  margin: 0 16px 0 10px; }

ul li {
  list-style: none; }

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif; }

.user {
  background-color: #191919; }

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.user__social-icon {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  background-color: #191919; }

.user__social {
  list-style: none;
  display: flex;
  align-items: center; }
  .user__social li {
    padding: 0 8px; }
    .user__social li .fa {
      color: #707070; }

.user__info {
  display: flex;
  color: #ffffff;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  font-variant: small-caps;
  letter-spacing: 0.8px; }

.user__details {
  padding: 0px 12px 0 0; }

.user__line {
  width: 1px;
  height: 24px;
  background: #b4b4b4;
  opacity: 0.38; }

.user__lang {
  padding: 0 0 0 16px; }

.heading {
  background: url("/img/Layer 66@1X.png"); }
  .heading__top {
    display: flex;
    padding: 20px 0;
    justify-content: space-between; }
  .heading__logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin: -6px 8px;
    text-transform: uppercase;
    letter-spacing: 1.92px;
    cursor: pointer; }
  .heading__icons {
    display: flex;
    align-items: center; }
    .heading__icons ul {
      display: flex; }
      .heading__icons ul li {
        list-style: none;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 0 0 26px 18px; }
        .heading__icons ul li img {
          padding: 0 0 0 11px; }
        .heading__icons ul li a {
          text-decoration: none;
          color: #ffffff; }
        .heading__icons ul li:hover {
          border-bottom: 4px solid #ff4081;
          padding: 0 0 22px 18px; }
  .heading__info {
    display: flex; }
    .heading__info .fa {
      color: #fff;
      padding: 0 17px 0 17px;
      cursor: pointer; }

.article__desc {
  text-align: center;
  padding: 188px 0 68px 0; }

.article__author-avatar {
  margin: 27px -17px 0px -6px; }

.article__tag {
  margin: 0;
  opacity: 0.7;
  color: #ffffff;
  font-weight: 400;
  line-height: 27px;
  font-variant: small-caps;
  font-size: 27px; }

.article__title {
  color: #ffffff;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 16px 0 34px 0; }

.article__button {
  margin: 0 0 50px 0; }

.article__author-avatar img {
  border-radius: 50%; }

.article__author-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  margin: 7px 0px 0 16px; }

.article__date {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__activity {
  display: flex;
  justify-content: center;
  opacity: 0.7;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.6px;
  margin: 29px 0 0 0; }

.article__comments {
  margin: 0 -8px 0 0px; }

.article__likes {
  padding: 0px 24px 0 0px;
  margin: 0px -3px 0 34px; }

.button {
  font-size: 24px;
  line-height: 36px;
  font-variant: small-caps;
  letter-spacing: 1.2px;
  color: #fff;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  border: none;
  padding: 3px 25px 7px 25px;
  cursor: pointer; }

.main {
  background-color: #f5f5f5; }
  .main__nav-wrapper {
    background-color: #fff; }
  .main__nav-label {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
    margin: 0 22px 0 0; }
  .main__nav {
    display: flex;
    padding: 12px 0 13px 5px; }
    .main__nav-tags {
      list-style: none;
      display: flex; }
    .main__nav-tag {
      margin: 0px 18px 0 0;
      padding: 0px 27px;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.87;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      font-variant: small-caps;
      letter-spacing: 0.8px;
      border-radius: 15px;
      background-color: #f5f5f5; }
      .main__nav-tag--active {
        color: #3f51b5;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        font-variant: small-caps;
        letter-spacing: 0.8px;
        box-shadow: 0 1px 0 #dddddd;
        background-color: #ffffff;
        border: 1px solid #3f51b5; }
  .main__content {
    padding: 30px 0 0 0; }
  .main__wrapper {
    display: flex; }

/***1***/
.article--main {
  background-color: #f5f5f5; }

.article__play {
  position: absolute;
  top: 44.4%;
  left: 47.6%; }

.article__visual {
  position: relative;
  color: #fff; }
  .article__visual img {
    width: 100%; }
  .article__visual-tag {
    position: absolute;
    left: 20px;
    bottom: 8px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-activity {
    position: absolute;
    right: 1px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***1***/
.article__desc-2 {
  background: #fff; }

.article__title-2 {
  opacity: 0.87;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.9px;
  padding: 11px 20px 0 20px; }

.article__txt-2 {
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 0 18px 20px;
  letter-spacing: 0.15px;
  margin: 11px 0 3px 0;
  line-height: 23px; }

.article__info-2 {
  padding: 13px 23px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-2 {
  display: flex;
  padding: 3px 0 0 0; }
  .article__author-avatar-2 img {
    border-radius: 50%;
    margin: 0 15px 0 0; }

.article__author-name-2 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px; }

.article__date-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

/***2***/
.article__play-2 {
  position: absolute;
  top: 34%;
  left: 43%; }

.article__visual-2 {
  position: relative;
  color: #fff; }
  .article__visual-2-tag-3 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px; }
  .article__visual-2-activity-2 {
    position: absolute;
    right: 18px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***2***/
.article__content-3 {
  background-color: #fff;
  display: flex;
  margin: 18px 14px 0px 9px; }

.article__title-3 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 4px 0 5px 0; }

.article__txt-3 {
  line-height: 26px;
  padding: 0 20px 14px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-3 {
  padding: 9px 23px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-3 {
  display: flex; }
  .article__author-avatar-3 img {
    border-radius: 50%;
    margin: 0 12px 0 0; }

.article__author-name-3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 10px 0 0px 0px; }

.article__date-3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-2 {
  padding: 0 19px 0 0;
  font-size: 12px; }

/***3***/
.article__play-3 {
  position: absolute;
  top: 33%;
  left: 41%; }

.article__visual-3 {
  position: relative;
  color: #fff; }
  .article__visual-3 img {
    max-width: 260px; }
  .article__visual-3-tag-4 {
    margin: 0;
    bottom: 24px;
    position: absolute;
    left: 16px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-3-activity-3 {
    position: absolute;
    right: 18px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***3***/
.article__content-4 {
  background-color: #fff;
  display: flex;
  margin: 20px 15px 0px 8px; }

.article__title-4 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 4px 0; }

.article__txt-4 {
  line-height: 26px;
  padding: 0px 23px 14px 18px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-4 {
  padding: 10px 23px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-4 {
  display: flex; }
  .article__author-avatar-4 img {
    border-radius: 50%;
    margin: 0px 12px 0px 3px; }

.article__author-name-4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 7px 6px 0px 0px; }

.article__date-4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-3 {
  padding: 3px 21px 0 0;
  font-size: 12px; }

/***4***/
.article__play-4 {
  position: absolute;
  top: 33%;
  left: 41%; }

.article__visual-4 {
  position: relative;
  color: #fff; }
  .article__visual-4 img {
    max-width: 260px; }
  .article__visual-4-tag-5 {
    margin: 0;
    bottom: 24px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-4-activity-4 {
    position: absolute;
    right: 24px;
    bottom: 24px;
    display: flex;
    font-size: 12px; }

/***4***/
.article__content-5 {
  background-color: #fff;
  display: flex;
  margin: 17px 14px 8px 8px; }

.article__title-5 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 0 0; }

.article__txt-5 {
  padding: 0 20px 14px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px;
  margin: 5px 0 0 0; }

.article__info-5 {
  padding: 10px 23px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-5 {
  display: flex; }
  .article__author-avatar-5 img {
    border-radius: 50%;
    margin: 0 11px 0 0; }

.article__author-name-5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px;
  padding: 10px 0 0 0; }

.article__date-5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-4 {
  padding: 0 23px 0 0; }

/***5***/
.article__container {
  display: flex;
  margin: -11px 0 0 7px; }

.article__play-5 {
  position: absolute;
  top: 33%;
  left: 42%; }

.article__visual-5 {
  position: relative;
  color: #fff; }
  .article__visual-5 img {
    max-width: 260px; }
  .article__visual-5-tag-6 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-5-activity-5 {
    position: absolute;
    right: 15px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***5***/
.article__content-6 {
  background-color: #fff;
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column; }

.article__title-6 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__txt-6 {
  line-height: 26px;
  padding: 0px 20px 25px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-6 {
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-6 {
  display: flex; }
  .article__author-avatar-6 img {
    border-radius: 50%;
    margin: 0 12px 0 0; }

.article__author-name-6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.7px; }

.article__date-6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-5 {
  padding: 2px 23px 0 0;
  font-size: 12px; }

.article__likes-5 {
  padding: 0 8px 0 0px; }

/***6***/
.article__play-6 {
  position: absolute;
  top: 33%;
  left: 41%; }

.article__visual-6 {
  position: relative;
  color: #fff; }
  .article__visual-6 img {
    max-width: 260px; }
  .article__visual-6-tag-7 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-6-activity-6 {
    position: absolute;
    right: 18px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***6***/
.article__content-7 {
  background-color: #fff;
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column; }

.article__title-7 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__txt-7 {
  line-height: 26px;
  padding: 0px 21px 26px 21px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-7 {
  padding: 12px 22px 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-7 {
  display: flex; }
  .article__author-avatar-7 img {
    border-radius: 50%;
    margin: 0 12px 0 0; }

.article__author-name-7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px; }

.article__date-7 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-6 {
  padding: 0 30px 0 0; }

/***7***/
.article__left_arrow {
  position: absolute;
  top: 37%;
  left: 10px; }
  .article__left_arrow > .fa-angle-left {
    padding: 0 12px 0 10px;
    background: #fff;
    color: #6372c3; }

.article__right_arrow {
  position: absolute;
  top: 37%;
  right: 13px; }
  .article__right_arrow > .fa-angle-right {
    padding: 0 10px 0 12px;
    background: #fff;
    color: #6372c3; }

.article__visual-7 {
  position: relative;
  color: #fff; }
  .article__visual-7 img {
    max-width: 260px; }
  .article__visual-7-tag-8 {
    margin: 0;
    bottom: 19px;
    position: absolute;
    left: 19px;
    font-size: 11px;
    text-transform: uppercase; }
  .article__visual-7-activity-7 {
    position: absolute;
    right: 18px;
    bottom: 20px;
    display: flex; }

/***7***/
.article__content-8 {
  background-color: #fff;
  margin: 20px 15px 0 0;
  display: flex;
  flex-direction: column; }

.article__title-8 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0; }

.article__txt-8 {
  line-height: 26px;
  padding: 0px 20px 30px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.56px; }

.article__info-8 {
  padding: 15px 22px 20px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-8 {
  display: flex; }
  .article__author-avatar-8 img {
    border-radius: 50%;
    margin: 0 12px 0 0; }

.article__author-name-8 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px; }

.article__date-8 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-7 {
  padding: 0 26px 0 0; }

/***8***/
.article__visual-8 {
  position: relative;
  color: #fff; }
  .article__visual-8-tag-9 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
    font-size: 12px; }
  .article__visual-8-activity-8 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***8***/
.article__content-9 {
  background-color: #fff;
  margin: 30px 19px 20px 1px;
  display: flex;
  flex-direction: column; }

.article__title-9 {
  opacity: 0.87;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  padding: 0px 20px 0 20px;
  margin: 12px 0 0px 0; }

.article__txt-9 {
  padding: 13px 20px 34px 20px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.56px; }

.article__info-9 {
  padding: 10px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-9 {
  display: flex; }
  .article__author-avatar-9 img {
    border-radius: 50%;
    margin: 0 15px 0 0; }

.article__author-name-9 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px; }

.article__date-9 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-8 {
  padding: 0 30px 0 0; }

/***9***/
.article__visual-9 {
  position: relative;
  color: #fff; }
  .article__visual-9-tag-10 {
    margin: 0;
    bottom: 20px;
    position: absolute;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase; }
  .article__visual-9-activity-9 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    font-size: 12px; }

/***9***/
.article__content-10 {
  background-color: #fff;
  margin: 30px 19px 20px 1px;
  display: flex;
  flex-direction: column; }

.article__title-10 {
  opacity: 0.87;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.9px;
  padding: 0 20px;
  margin: 12px 0; }

.article__txt-10 {
  line-height: 26px;
  padding: 15px 23px 6px 18px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px; }

.article__info-10 {
  padding: 15px 23px 0px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article__author-avatar-10 {
  display: flex; }
  .article__author-avatar-10 img {
    border-radius: 50%;
    margin: 0 6px 0 0; }

.article__author-name-10 {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.7px; }

.article__date-10 {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: 0.6px; }

.article__comments-9 {
  padding: 0 31px 0 0; }

.article__button_more {
  align-items: center;
  justify-content: flex-end;
  padding: 14px 17px 50px 0;
  display: flex; }

.article__button_txt {
  color: #303f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.8px;
  margin: 0 7px 0 0; }

.article__button_arrow .fa-arrow-right {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  color: #3f51b5;
  padding: 14px;
  cursor: pointer; }

.sidebar__main {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 0 28px;
  background: #fff;
  padding: 0 0px 0 37px; }

.sidebar__title {
  color: #3f51b5;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  border-bottom: 1px solid #2962ff;
  padding: 30px 0 7px 0;
  margin: 1px 0px 0px 0px; }

.sidebar__search {
  position: relative;
  padding: 23px 0px 0px 0; }
  .sidebar__search > input {
    border: none;
    padding: 14px 90px 11px 15px;
    border-radius: 23px;
    background: #f5f5f5;
    color: #a4a4a4;
    letter-spacing: 0.64px; }
  .sidebar__search .fa-search {
    color: #ffffff;
    position: absolute;
    top: 26px;
    right: 5px; }
  .sidebar__search .fa {
    background: #ff4081;
    padding: 9px;
    border-radius: 50%;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12); }

.sidebar__categories-title span {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 0;
  letter-spacing: 0.56px; }

.sidebar__categories_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebeaea;
  padding: 15px 3px 8px 0px;
  font-size: 13px; }
  .sidebar__categories_item span {
    display: flex;
    opacity: 0.87;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px; }

.sidebar__subcribe {
  margin: 10px 0px -12px 0px; }
  .sidebar__subcribe_name {
    margin: 15px 0px 14px 0px; }
  .sidebar__subcribe_email {
    margin: 15px 0px 12px 0; }
  .sidebar__subcribe_input {
    padding: 12px 92px 12px 12px;
    border-radius: 3px;
    border: 1px solid #e0e0e0; }
  .sidebar__subcribe_button {
    border-radius: 4px;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    font-variant: small-caps;
    letter-spacing: 1.2px;
    padding: 5px 84px;
    margin: 8px 1px 24px 0px;
    position: relative;
    border: none;
    cursor: pointer; }
  .sidebar__subcribe_line {
    height: 1px;
    background-color: #000;
    position: relative; }
    .sidebar__subcribe_line span {
      position: absolute;
      bottom: -14px;
      right: 44%;
      background: #fff;
      padding: 7px 11px;
      border-radius: 50%; }
  .sidebar__subcribe_icons {
    margin: 24px 0 0 0; }
    .sidebar__subcribe_icons ul {
      display: flex; }
      .sidebar__subcribe_icons ul .fa {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        font-size: 18px;
        line-height: 36px;
        text-align: center; }
      .sidebar__subcribe_icons ul .fa-facebook {
        color: #ffffff;
        background: #3b5999; }
      .sidebar__subcribe_icons ul .fa-twitter {
        color: #ffffff;
        background: #55acee; }
      .sidebar__subcribe_icons ul .fa-vk {
        color: #ffffff;
        background: #4c75a3; }
      .sidebar__subcribe_icons ul .fa-pinterest {
        color: #ffffff;
        background: #ff2e56; }
      .sidebar__subcribe_icons ul .fa-tumblr {
        color: #ffffff;
        background: #34465d; }
      .sidebar__subcribe_icons ul .fa-dribbble {
        color: #ffffff;
        background: #ea4c89; }
    .sidebar__subcribe_icons-items {
      padding: 0 9px 0 0; }

.sidebar__post_buttons {
  display: flex;
  margin: 25px 0 0 0;
  border: 1px solid #3f51b5;
  border-radius: 4px; }

.sidebar__post_button {
  font-size: 14px;
  font-variant: small-caps;
  letter-spacing: 0.8px;
  padding: 11px 22px 10px 26px;
  border-radius: 4px 0 0 4px;
  cursor: pointer; }
  .sidebar__post_button-active {
    color: #fff;
    background-color: #3f51b5; }

.sidebar__post_content {
  padding: 0px 0 14px 0;
  border-bottom: 1px solid #dee5e9; }

.sidebar__post_content:nth-child(6) {
  border-bottom: none; }

.sidebar__post_desc {
  margin: 15px 0 0 0;
  display: flex; }

.sidebar__post_info {
  padding: 0px 0px 0 12px; }
  .sidebar__post_info .fa {
    color: #6f7dc8;
    margin: 0px 6px 0 0;
    font-size: 14px; }

.sidebar__post_date {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.5px; }

.sidebar__post_time {
  font-size: 13px; }

.sidebar__post_title {
  font-weight: 600;
  padding: 5px 0 0 0; }

.sidebar__post-title {
  margin: 16px 0px -8px 0px; }

.sidebar__tags_list {
  margin: 15px 0 0 0; }
  .sidebar__tags_list ul {
    display: flex;
    flex-wrap: wrap; }

.sidebar__tags_item {
  background-color: #eeeeee;
  padding: 7px 24px 5px 13px;
  margin: 5px 10px 6px 0px;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600; }

.main__slider {
  display: flex;
  justify-content: center; }
  .main__slider_img {
    width: 157px; }

.subscribe__background {
  background: #242527; }

.subscribe__input {
  display: flex;
  padding: 77px 0 74px 0;
  justify-content: space-around;
  align-items: center; }
  .subscribe__input h2 {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 3.3px; }

.subscribe__email input {
  border: 1px solid #75797a;
  padding: 13px 70px 13px 20px;
  border-radius: 23px;
  background: transparent;
  color: #a4a4a4;
  letter-spacing: 0.64px;
  margin: 0 15px 0 20px; }

.subscribe__buttnon {
  margin: 0px -8px 0px 0px; }

.footer__main {
  background-color: #212121; }

.footer__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  padding: 0 0 24px 0; }

.footer__widget {
  padding: 50px 0 70px 0;
  display: flex; }
  .footer__widget_pages {
    padding: 0 0px 18px 8px;
    margin: 0 8px 0 0; }
  .footer__widget_accordion .accordion {
    background: transparent;
    color: #bdbdbd;
    cursor: pointer;
    padding: 15px 0px 12px 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    opacity: 0.38;
    margin: 0px 87px -1px 0;
    display: flex;
    justify-content: space-between; }
  .footer__widget_accordion .panel {
    padding: 0 18px;
    background: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #595959;
    margin: 0 0 7px 0;
    border-bottom: 1px solid #757575;
    border-right: 1px solid #757575;
    border-left: 1px solid #757575;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .footer__widget_accordion .panel p {
      font-size: 14px; }
  .footer__widget_accordion .accordion:after {
    content: "\02795";
    font-size: 13px;
    color: #909090;
    float: right;
    margin-left: 45px;
    margin-right: 10px; }
  .footer__widget_accordion .active:after {
    content: "\2796"; }
  .footer__widget_combined {
    padding: 0 0px 0 2px;
    margin: 0 0px 0 29px; }
  .footer__widget_twitter {
    margin: 0px 0px 23px -10px; }
  .footer__widget_info {
    margin: 0 0 0 0; }
    .footer__widget_info:nth-child(3) {
      border-bottom: 1px solid #a9a9a9;
      border-top: 1px solid #a9a9a9;
      padding: 16px 0 3px 0; }
    .footer__widget_info img {
      height: 100%;
      margin: 0px 0px 0 8px; }
    .footer__widget_info-3 {
      margin: 12px 0 0 0; }
      .footer__widget_info-3 img {
        height: 100%;
        margin: 0px 0px 0 8px; }
  .footer__widget_breadcrumb span {
    color: #a9a9a9;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin: 0 3px 0 0px; }
    .footer__widget_breadcrumb span:nth-child(n + 3) {
      border-bottom: 1px solid; }
  .footer__widget_icon {
    display: flex; }
    .footer__widget_icon P {
      margin: -4px 0 0 0;
      color: #cecece;
      font-size: 14px;
      font-size: 13px;
      letter-spacing: 0.52px;
      letter-spacing: 0.56px;
      padding: 0px 0px 0px 22px;
      line-height: 20px; }
  .footer__widget_social {
    padding: 0 0px 0px 0px;
    margin: -5px 0px 0px -5px; }
    .footer__widget_social ul {
      display: flex; }
      .footer__widget_social ul .fa {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        font-size: 18px;
        line-height: 36px;
        text-align: center; }
      .footer__widget_social ul .fa-facebook {
        color: #ffffff;
        background: #3b5999; }
      .footer__widget_social ul .fa-twitter {
        color: #ffffff;
        background: #55acee; }
      .footer__widget_social ul .fa-vk {
        color: #ffffff;
        background: #4c75a3; }
      .footer__widget_social ul .fa-pinterest {
        color: #ffffff;
        background: #ff2e56; }
      .footer__widget_social ul .fa-tumblr {
        color: #ffffff;
        background: #34465d; }
      .footer__widget_social ul .fa-dribbble {
        color: #ffffff;
        background: #ea4c89; }
    .footer__widget_social-items {
      padding: 0 9px 0 0; }
  .footer__widget_flickr {
    margin: 1px 0px 0 32px; }
  .footer__widget_img img {
    padding: 1px; }
  .footer__widget_form {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0; }
    .footer__widget_form input {
      padding: 15px 0px 12px 14px;
      color: #909090;
      margin: 1px -14px 10px -1px;
      background: none;
      border: 1px solid #909090;
      border-radius: 3px; }
    .footer__widget_form-button {
      padding: 10px 20px 10px 20px;
      margin: 10px -15px 0px 0px;
      background: #303030;
      border: transparent;
      color: #fff;
      border-radius: 3px;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer; }
  .footer__widget .textarea {
    padding: 16px 26px 0px 15px;
    margin: 0px -15px 1px -1px;
    color: #909090;
    background: none;
    border: 1px solid #909090;
    border-radius: 3px;
    height: 105px;
    color: #909090; }

.footer {
  background: #303030; }
  .footer__lower {
    padding: 35px 0 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer__lower_nav {
      display: flex;
      align-items: center; }
    .footer__lower ul {
      display: flex; }
      .footer__lower ul li {
        list-style: none;
        padding: 0 0 0 25px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 0 33px 0 10px; }
        .footer__lower ul li a {
          text-decoration: none;
          color: #ffffff; }
    .footer__lower_search {
      position: relative;
      margin: 0 0 0 70px; }
      .footer__lower_search > input {
        border: 1px solid #a4a4a4;
        padding: 8px 33px 8px 19px;
        border-radius: 23px;
        background: transparent;
        color: #a4a4a4;
        letter-spacing: 0.64px; }
      .footer__lower_search .fa-search {
        color: #a4a4a4;
        position: absolute;
        top: 10px;
        right: 14px;
        font-size: 13px; }
    .footer__lower_lang {
      display: flex;
      align-items: flex-end;
      color: #a4a4a4; }
      .footer__lower_lang .fa-globe {
        padding: 0 5px 0 0; }
      .footer__lower_lang span {
        font-size: 12px;
        padding: 0 3px 0 0; }

/*# sourceMappingURL=main.css.map */
