@import "./variables.scss";

figure {
  margin: 0 52px 0 0px;
}

@media (max-width: 1200px) {
  figure {
    margin: 0;
  }
}

.fa {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    // text-decoration: underline;
  }
}

body {
  // overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.user {
  @media (max-width: $media-480) {
    background: #303f9f;
  }

  background-color: #191919;
  // background-color: red;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.container-2 {
  // display: flex;
}

@media (min-width: 1200px) {
  .container-2 {
    display: flex;
  }
}

.user__social-icon {
  @media (max-width: $media-480) {
    background: #303f9f;
    justify-content: center;
  }

  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  background-color: #191919;
}

.user__social {
  @media (max-width: $media-480) {
    display: none;
  }

  list-style: none;
  display: flex;
  align-items: center;

  li {
    padding: 0 8px;

    .fa {
      color: #707070;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.user {
  &__info {
    display: flex;
    color: #ffffff;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
  }

  &__details {
    padding: 0px 12px 0 0;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__line {
    width: 1px;
    height: 24px;
    background: #b4b4b4;
    opacity: 0.38;
  }

  &__lang {
    padding: 0 0 0 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: $media-480) {
  .user {
    &__info {
      display: flex;
      flex-direction: row-reverse;
      color: #ffffff;
      opacity: 0.5;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      font-variant: small-caps;
      letter-spacing: 0.8px;
    }

    &__details {
      padding: 0px 12px 0 0;
      display: flex;
    }

    &__line {
      width: 1px;
      height: 24px;
      background: #b4b4b4;
      opacity: 0.38;
      display: flex;
    }

    &__lang {
      padding: 0 0 0 16px;
      display: flex;
    }
  }
}

@media (min-width: $media-960) {
  .hamburger-menu {
    // visibility: hidden;
    display: none;
  }
}

@media (max-width: 959px) {
  .heading {
    background: rgb(63, 81, 181);
  }

  .shop::before {
    padding: 2px 5px 0px 5px;
    background: rgb(255, 64, 129);
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 68px;
    right: 15px;
    content: "7";
    color: #fff;
  }

  .heading__icons {
    display: none;
  }
  .fa-search {
    display: none;
  }
  .user__line {
    display: none;
  }
  .fa-heart-o {
    // display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__items {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 15px;
    right: 20px;
    justify-content: center;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    // background: #ccc;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    z-index: 3;

    &:hover {
      background: #c5c5c5;
    }
  }

  .menu__btn {
    @media (min-width: $media-960) {
      visibility: hidden;
    }
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
  }

  .btn span {
    left: 10px;
  }

  .menu__btn span {
    &::before {
      content: "";
      top: -8px;
    }
  }

  .menu__btn span {
    &::after {
      content: "";
      top: 8px;
    }
  }

  .menu__items {
    display: block;
    position: fixed;
    // visibility: hidden;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ccc;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    z-index: 2;

    a {
      color: #333;
    }
  }

  .menu__items {
    display: block;
    padding: 54px 24px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (min-width: $media-960) {
  .heading {
    background: url("../img/Layer\ 66@1X.png");
    position: relative;
  }
}

.heading {
  &__arrow-left {
    .fa-angle-left {
      position: absolute;
      top: 50%;
      color: #ffffff;
      left: 42px;
      transform: translatey(-55px);
    }
  }

  &__arrow-right {
    .fa-angle-right {
      position: absolute;
      top: 50%;
      right: 0;
      color: #fff;
      right: 42px;
      transform: translatey(-55px);
    }
  }

  &__top {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
  }
  &__logo {
    a {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      margin: -6px 8px;
      text-transform: uppercase;
      letter-spacing: 1.92px;
      cursor: pointer;
      text-decoration: none;
    }
  }
  &__icons {
    align-items: center;

    ul {
      display: flex;

      li {
        list-style: none;

        .fa-angle-down {
          padding: 0 0 0 0px;
          color: #ffffff;
        }

        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.7px;
          margin: 0 0 0 18px;

          &:hover {
            border-bottom: 4px solid #ff4081;
            padding: 0 0 15px 0;
          }
        }
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;

    .fa {
      color: #fff;
      padding: 0 17px 0 17px;
      cursor: pointer;
    }
  }
}

.article {
  &__desc {
    text-align: center;
    padding: 185px 0 65px 0;
  }

  &__author {
    &-avatar {
      margin: 75px 0px 0px 0px;
    }
  }

  &__tag {
    margin: 0;
    opacity: 0.7;
    color: #ffffff;
    font-weight: 400;
    line-height: 27px;
    font-variant: small-caps;
    font-size: 27px;
    a {
      color: #fff;
    }
  }

  &__title {
    color: #ffffff;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 16px 0 34px 0;
  }

  &__author-avatar {
    img {
      border-radius: 50%;
      cursor: pointer;
      margin: 0 auto;
    }
  }

  &__author-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.7px;
    margin: 7px 0px 0 0px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__date {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__activity {
    display: flex;
    justify-content: center;
    opacity: 0.7;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.6px;
    margin: 29px 0 0 0;
  }

  &__comments {
    margin: 0 -8px 0 0px;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__likes {
    padding: 0px 20px 0 0px;
    margin: 0px 0px 0 34px;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.button {
  font-size: 24px;
  line-height: 36px;
  font-variant: small-caps;
  letter-spacing: 1.2px;
  color: #fff;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 22px;
  background-color: #303f9f;
  border: none;
  padding: 3px 25px 7px 25px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #1d2d96;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-color: #041dbe;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 960px) {
  #main__nav-select {
    display: none;
  }
}

@media (max-width: 960px) {
  #main__nav-select {
    background: #ffffff;
    width: 100%;
    // max-width: 400px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #cbd1d8;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 15px 0;
  }
  .main__nav-option {
    margin: 14px;
  }
  .main__nav-label,
  ul.main__nav-tags {
    display: none;
  }
}

.main {
  background-color: #f5f5f5;

  &__nav-wrapper {
    background-color: #fff;
    padding: 0 15px;
  }

  &__nav-label {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
    margin: 0 20px 0 0;
  }

  &__nav {
    display: flex;
    padding: 15px 0 15px 0px;

    &-tags {
      list-style: none;
      display: flex;
    }

    &-tag {
      margin: 0px 18px 0 0;
      padding: 0px 27px;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.87;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      font-variant: small-caps;
      letter-spacing: 0.8px;
      border-radius: 15px;
      background-color: #f5f5f5;

      &--active {
        color: #3f51b5;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        font-variant: small-caps;
        letter-spacing: 0.8px;
        box-shadow: 0 1px 0 #dddddd;
        background-color: #ffffff;
        border: 1px solid #3f51b5;
      }
    }
  }

  &__content {
    margin: 30px 0 0 0;
  }

  &__wrapper {
    display: flex;
  }
}

/***1***/

.article {
  &--slider {
  }

  &--main {
    background-color: #f5f5f5;
  }

  &__play {
    position: absolute;
    top: 44.4%;
    left: 47.6%;
  }

  &__visual {
    position: relative;
    color: #fff;

    img {
      width: 100%;
    }

    &-tag {
      position: absolute;
      left: 20px;
      bottom: 8px;
      text-transform: uppercase;
      font-size: 12px;
    }

    &-activity {
      position: absolute;
      right: 1px;
      bottom: 20px;
      display: flex;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .article__play {
    display: none;
  }
}

/***1***/

.article {
  &__content {
    margin: 0;
    position: relative;
  }

  &__desc-2 {
    background: #fff;
  }

  &__title-2 {
    opacity: 0.87;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.9px;
    padding: 11px 20px 0 20px;
  }

  &__txt-2 {
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 0 18px 20px;
    letter-spacing: 0.15px;
    margin: 11px 0 3px 0;
    line-height: 23px;
  }

  &__info-2 {
    padding: 13px 23px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-2 {
    display: flex;
    padding: 3px 0 0 0;
    img {
      border-radius: 50%;
      margin: 0 15px 0 0;
      cursor: pointer;
    }
  }
  &__author-name-2 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    a {
      text-decoration: none;
    }
  }
  &__date-2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }
}

/***2***/

.article {
  &__play-2 {
    position: absolute;
    top: 34%;
    left: 43%;
  }

  &__visual-2 {
    position: relative;
    color: #fff;

    &-tag-3 {
      margin: 0;
      // bottom: 20px;
      top: 135px;
      position: absolute;
      left: 20px;
      text-transform: uppercase;
      font-size: 12px;
    }

    &-activity-2 {
      position: absolute;
      right: 20px;
      // bottom: 20px;
      top: 135px;
      display: flex;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .article__visual-2-tag-3 {
    top: 42px;
    left: 20px;
  }
}

@media (max-width: 768px) {
  .article__visual-2-activity-2,
  .article__visual-3-activity-3,
  .article__visual-4-activity-4 {
    left: 170px;
  }
}

@media (max-width: 480px) {
  .article__visual-2-activity-2 {
    left: 20px;
    top: 60px;
    // bottom: 10px;
  }
}

@media (min-width: 480px) {
  .article__visual-2 > img {
    // width: 100%;
    max-width: 260px;
  }
}
@media (max-width: 480px) {
  .article__visual-2 > img {
    width: 100%;
    height: 100%;
    // max-width: 260px;
  }
}

/***2***/

.article {
  &__content-3 {
    background-color: #fff;
    display: flex;
    margin: 20px 52px 0px 0px;
  }

  &__title-3 {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.9px;
    padding: 0 20px;
    margin: 4px 0 5px 0;
  }

  &__txt-3 {
    line-height: 26px;
    padding: 0 20px 14px 20px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.56px;
  }

  &__info-3 {
    padding: 9px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-3 {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 12px 0 0;
      cursor: pointer;
    }
  }

  &__author-name-3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin: 10px 0 0px 0px;

    a {
      text-decoration: none;
    }
  }

  &__date-3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-2 {
    padding: 0 19px 0 0;
    font-size: 12px;

    a {
      color: #fff;
    }
  }
}

@media (max-width: 480px) {
  .article__author-avatar-3 img {
    display: none;
  }
  .article__title-3 {
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    margin: 4px 5px 5px 5px;
    padding: 0 3px;
    line-height: 1;
  }
  .article__info-3 {
    padding: 0 10px;
    align-items: flex-end;
    border-top: 1px solid #e0e0e0;
  }
  .article__info_more {
    padding: 0 0 5px 0;
  }
}

@media (max-width: 480px) {
  .article__txt-3 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .article__content-3 {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 480px) {
  .article__content-3 {
    border-radius: 3%;
    box-shadow: 4px 4px 10px #ccc;
  }
}

@media (max-width: 768px) {
  .article__content-3 {
    // flex-direction: column;
  }
}
/***3***/

.article {
  &__play-3 {
    position: absolute;
    top: 33%;
    left: 41%;
  }

  &__visual-3 {
    position: relative;
    color: #fff;

    img {
      // max-width: 260px;
    }

    &-tag-4 {
      margin: 0;
      bottom: 62%;
      // top: 135px;
      position: absolute;
      left: 20px;
      text-transform: uppercase;
      font-size: 12px;
    }

    &-activity-3 {
      position: absolute;
      right: 20px;
      bottom: 20%;
      display: flex;
      align-items: center;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .article__visual-3-tag-4 {
    // bottom:24px;
    bottom: 34%;
  }
}

@media (min-width: 480px) {
  .article__visual-3 > img {
    max-width: 260px;
  }
}

@media (max-width: 480px) {
  .article__visual-3-activity-3 {
    left: 20px;
  }
}

@media (max-width: 480px) {
  .article__visual-3 > img {
    width: 100%;
  }
}

/***3***/

.article {
  &__content-4 {
    background-color: #fff;
    display: flex;
    margin: 20px 52px 0px 0px;
  }

  &__title-4 {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.9px;
    padding: 0 20px;
    margin: 4px 0;
  }

  &__txt-4 {
    line-height: 26px;
    padding: 0px 23px 14px 18px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.56px;
  }

  &__info-4 {
    padding: 10px 20px 4px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-4 {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0px 12px 0px 3px;
      cursor: pointer;
    }
  }

  &__author-name-4 {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.7px;
    margin: 7px 6px 0px 0px;
  }

  &__date-4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-3 {
    padding: 0px 21px 0 0;
    font-size: 12px;

    a {
      color: #ffffff;
    }
  }
}

@media (max-width: 480px) {
  .article {
    &__title-4 {
      display: none;
    }
    &__txt-4 {
      display: none;
    }
    &__author-avatar-4 {
      img {
        display: none;
      }
    }
    &__info-4 {
      padding: 0px 10px 4px 10px;
    }
  }
}

@media (max-width: 480px) {
  .article__title_txt {
    color: #000;
    padding: 5px 10px;
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
  }
}

@media (min-width: 480px) {
  .article__title_txt {
    display: none;
  }
}

@media (max-width: 1200px) {
  .article__content-4 {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 480px) {
  .article__content-4 {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .article__column,
  .article__column-2 {
    display: flex;
  }
}

@media (max-width: 768px) {
  .article__column-2 {
    // display: flex;
    // flex-direction: column;
  }
}

@media (min-width: 480px) {
  .article__column-2 {
    display: flex;
    // flex-direction: column;
  }
}

/***4***/

.article {
  &__play-4 {
    position: absolute;
    top: 33%;
    left: 41%;
  }

  &__visual-4 {
    position: relative;
    color: #fff;

    img {
      max-width: 260px;
    }

    &-tag-5 {
      margin: 0;
      bottom: 24px;
      position: absolute;
      left: 20px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-activity-4 {
      position: absolute;
      right: 20px;
      bottom: 24px;
      display: flex;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .article__visual-4-activity-4 {
    position: absolute;
    left: 20px;
    bottom: 10px;
    display: flex;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .article__visual-4 > img {
    max-width: 260px;
  }
}
@media (max-width: 480px) {
  .article__visual-4 > img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .article__visual-4 > img {
    max-width: 260px;
  }
}

/***4***/
@media (min-width: 480px) {
  .article__content-5 {
    display: flex;
  }
}

.article {
  &__content-5 {
    background-color: #fff;
    // display: flex;
    margin: 20px 52px 0px 0px;
  }

  &__title-5 {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.9px;
    padding: 0 20px;
    margin: 4px 0;
  }

  &__txt-5 {
    padding: 0 20px 14px 20px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.56px;
    margin: 5px 0 0 0;
  }
  &__info-5 {
    padding: 10px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__author-avatar-5 {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 12px 0 0;
      cursor: pointer;
    }
  }

  &__author-name-5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.7px;
    padding: 10px 0 0 0;
    cursor: pointer;
  }

  &__date-5 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-4 {
    padding: 0 23px 0 0;

    a {
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .article__content-5 {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 480px) {
  .article__content-5 {
    margin: 20px 6px 0 6px;
  }
}

@media (max-width: 768px) {
  .article__content-5 {
    // flex-direction: column;
  }
}

@media (max-width: 480px) {
  .article__title-5 {
    display: none;
  }
}

@media (max-width: 480px) {
  .article__txt-5 {
    display: none;
  }
}

@media (max-width: 480px) {
  .article__info-5 {
    display: none;
  }
}

/***5***/
.article__container {
  display: flex;
}

@media (max-width: 1200px) {
  .article__container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .article__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.article {
  &__play-5 {
    position: absolute;
    top: 33%;
    left: 42%;
  }

  &__visual-5 {
    position: relative;
    color: #fff;

    img {
      // max-width: 260px;
      width: 100%;
    }

    &-tag-6 {
      margin: 0;
      bottom: 20px;
      position: absolute;
      left: 20px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-activity-5 {
      position: absolute;
      right: 20px;
      // left: 20px;
      bottom: 20px;
      display: flex;
      font-size: 12px;
      align-items: center;
    }
  }
}

@media (min-width: 968px) {
  .article__visual-5 img {
    max-width: 260px;
  }
}

@media (max-width: 480px) {
  .article__visual-5-tag-6 {
    bottom: 33px;
  }
}

@media (max-width: 480px) {
  .article__play-5 {
    display: none;
  }
}

@media (max-width: 480px) {
  .article__visual-5 > img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .article__play-2 {
    display: none;
  }
}

/***5***/

.article {
  &__content-6 {
    background-color: #fff;
    margin: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__title-6 {
    opacity: 0.87;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.8;
    padding: 0px 20px 0px 20px;
    margin: 8px 0 5px 0;
  }

  &__txt-6 {
    line-height: 26px;
    padding: 0px 20px 25px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.56px;
    &:nth-child(3) {
      margin: 5px 0 5px 0;
      padding: 0 20px 25px;
    }
  }

  &__info-6 {
    padding: 15px 20px 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-6 {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 12px 0 0;
      cursor: pointer;
    }
  }

  &__author-name-6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.7px;
    cursor: pointer;
  }

  &__date-6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-5 {
    padding: 2px 23px 0 0;
    font-size: 12px;
    a {
      color: #fff;
    }
  }

  &__likes-5 {
    // padding: 0 8px 0 0px;
  }
}

@media (min-width: 480px) {
  .article__title_txt {
    display: none;
  }
}

@media (max-width: 480px) {
  .avatar_img {
    display: none;
  }
}

@media (max-width: 480px) {
  .article__txt-6 {
    display: none;
  }
  .article__title-7 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .article__content-6 {
    margin: 20px 10px 0 0;
  }
}

@media (max-width: 968px) {
  .article__content-6:nth-child(3) {
    margin: 20px 0px 0 0;
  }
}

/***6***/

.article {
  &__play-6 {
    position: absolute;
    top: 33%;
    left: 41%;
  }

  &__visual-6 {
    position: relative;
    color: #fff;

    img {
      max-width: 260px;
    }

    &-tag-7 {
      margin: 0;
      bottom: 20px;
      position: absolute;
      left: 20px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-activity-6 {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: flex;
      align-items: center;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .article__desc-6 {
    display: none;
  }
}

.article__desc-6
/***6***/

.article {
  &__content-7 {
    background-color: #fff;
    margin: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
  }
  &__desc-7 {
  }

  &__title-7 {
    opacity: 0.87;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.8;
    padding: 0px 20px 0px 20px;
    margin: 8px 0 5px 0;
  }

  &__txt-7 {
    line-height: 26px;
    padding: 0px 21px 26px 21px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.56px;
  }

  &__info-7 {
    padding: 12px 22px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-7 {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 12px 0 0;
      cursor: pointer;
    }
  }

  &__author-name-7 {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.7px;
    cursor: pointer;
  }

  &__date-7 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-6 {
    padding: 0 30px 0 0;

    a {
      color: #ffffff;
    }
  }
}

.article__title-7 {
  opacity: 0.87;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  line-height: 1.8;
  padding: 0px 20px 0px 20px;
  margin: 8px 0 5px 0;
}

.article__info-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 10px 20px;
}

@media (max-width: 480px) {
  .article__info-7 {
    padding: 0px 10px 4px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/***7***/

.article {
  &__left_arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-20px);

    > .fa-angle-left {
      padding: 0 12px 0 10px;
      background: #fff;
      color: #6372c3;
    }
  }

  &__right_arrow {
    right: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-20px);
    > .fa-angle-right {
      padding: 0 10px 0 12px;
      background: #fff;
      color: #6372c3;
    }
  }

  &__visual-7 {
    position: relative;
    color: #fff;

    img {
      max-width: 260px;
    }

    &-tag-8 {
      margin: 0;
      bottom: 19px;
      position: absolute;
      left: 19px;
      font-size: 11px;
      text-transform: uppercase;
    }

    &-activity-7 {
      position: absolute;
      right: 18px;
      bottom: 20px;
      display: flex;
    }
  }
}

/***7***/

.article {
  &__content-8 {
    background-color: #fff;
    margin: 20px 15px 0 0;
    display: flex;
    flex-direction: column;
  }

  &__title-8 {
    opacity: 0.87;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 1.8;
    padding: 0px 20px 0px 20px;
    margin: 8px 0 5px 0;
  }

  &__txt-8 {
    line-height: 26px;
    padding: 0px 20px 30px 20px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.56px;
  }

  &__info-8 {
    padding: 15px 22px 20px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-8 {
    display: flex;
    img {
      border-radius: 50%;
      margin: 0 12px 0 0;
      cursor: pointer;
    }
  }
  &__author-name-8 {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.7px;
    cursor: pointer;
  }

  &__date-8 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
    color: #878787;
  }

  &__comments-7 {
    padding: 0 26px 0 0;

    a {
      color: #ffffff;
    }
  }
}

@media (max-width: 480px) {
  .article__info-8 {
    padding: 4px;
    border-top: 1px solid #ccc;
  }
}

/***8***/

.article {
  &__visual-8 {
    position: relative;
    color: #fff;

    &-tag-9 {
      margin: 0;
      bottom: 20px;
      position: absolute;
      left: 20px;
      text-transform: uppercase;
      font-size: 12px;
    }

    &-activity-8 {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: flex;
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  .article__visual-8-tag-9 {
    bottom: 35px;
  }
}

@media (max-width: 480px) {
  .article__visual-8-activity-8 {
    left: 20px;
  }
}

@media (max-width: 1200px) {
  .article__visual-8 img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .article__desc-8 {
    // margin: 5px;
  }
}

/***8***/

.article {
  &__content-9 {
    background-color: #fff;
    margin: 20px 20px 20px 0px;
    display: flex;
    // flex-direction: column;
  }

  &__title-9 {
    opacity: 0.87;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding: 0px 20px 0 20px;
    margin: 12px 0 0px 0;
  }

  &__txt-9 {
    padding: 13px 20px 34px 20px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.56px;
  }

  &__info-9 {
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__author-avatar-9 {
    display: flex;

    img {
      border-radius: 50%;
      margin: 0 15px 0 0;
      cursor: pointer;
    }
  }

  &__author-name-9 {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.7px;
    cursor: pointer;
  }

  &__date-9 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-8 {
    padding: 0 30px 0 0;

    a {
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .article__content-9 {
    max-width: 50%;
    justify-content: center;
    margin: 20px auto;
  }
}

@media (min-width: 480px) {
  .article__content-9 {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .article__content-9 {
    max-width: 100%;
  }
  .article__txt-9 {
    display: none;
  }
  .avatar__img-8 {
    display: none;
  }

  .article__title-9 {
    padding: 0px 10px 0 10px;
    margin: 0px;
  }
}
@media (max-width: 480px) {
  .article__title-9 {
    display: none;
  }
}

@media (min-width: 480px) {
  .article__title_txt-3 {
    display: none;
  }
}

@media (max-width: 480px) {
  .article__title_txt-3 {
    margin: 5px;
    font-size: 16px;
  }
}

/***9***/

.article {
  &__visual-9 {
    position: relative;
    color: #fff;

    &-tag-10 {
      margin: 0;
      bottom: 20px;
      position: absolute;
      left: 20px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-activity-9 {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: flex;
      font-size: 12px;
    }
  }
}

@media (max-width: 1200px) {
  .article__visual-9 img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .article__visual-9-tag-10 {
    bottom: 35px;
  }
  .article__visual-9-activity-9 {
    left: 20px;
  }
}

/***9***/

.article {
  &__content-10 {
    background-color: #fff;
    margin: 20px 52px 20px 0px;
    display: flex;
    // flex-direction: column;
  }

  &__title-10 {
    opacity: 0.87;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.9px;
    padding: 0 20px;
    margin: 12px 0;
  }

  &__txt-10 {
    line-height: 26px;
    padding: 15px 23px 33px 18px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    opacity: 0.87;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.64px;
  }

  &__info-10 {
    padding: 15px 22px 20px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author-avatar-10 {
    display: flex;
    img {
      border-radius: 50%;
      margin: 0 6px 0 0;
      cursor: pointer;
    }
  }

  &__author-name-10 {
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.7px;
    cursor: pointer;
  }

  &__date-10 {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.5;
    letter-spacing: 0.6px;
  }

  &__comments-9 {
    padding: 0 31px 0 0;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }
}

@media (max-width: 1200px) {
  .article__content-10 {
    margin: 20px 0px 20px 0px;
  }
}

@media (max-width: 768px) {
  .article__content-10 {
    max-width: 50%;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .article__content-10 {
    max-width: 100%;
    margin: 0 0 30px 0;
    // justify-content: center;
    // margin: 0 auto;
  }
  .article__info-10 {
    padding: 0 5px;
    border-top: 1px solid #ccc;
  }
  .article__txt-10 {
    display: none;
  }
  .avatar__img-10 {
    display: none;
  }
  .article__title_txt-4 {
    display: none;
  }
  .article__title_txt-5 {
    margin: 5px;
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  .article__content-10 {
    flex-direction: column;
  }
  .article__title_txt-5 {
    display: none;
  }
  .article__title_txt-4 {
    display: none;
  }
}

.article {
  &__button_more {
    align-items: center;
    justify-content: flex-end;
    margin: 14px 52px 50px 0;
    display: flex;
  }

  &__button_txt {
    color: #303f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.8px;
    margin: 0 7px 0 0;
  }

  &__button_arrow {
    .fa-arrow-right {
      background-color: #fff;
      border-radius: 50%;
      padding: 10px;
      color: #3f51b5;
      padding: 14px;
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
  .article__button_more {
    display: none;
  }
}

.sidebar {
  &__main {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0px;
    background: #fff;
    padding: 0px 5px 0 10px;
    background: #fff;
  }

  &__title {
    color: #3f51b5;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    border-bottom: 1px solid #2962ff;
    padding: 30px 0 7px 0;
    margin: 1px 0px 0px 0px;
  }

  &__search {
    position: relative;
    padding: 23px 0px 0px 0;
    > input {
      border: none;
      padding: 14px 90px 11px 15px;
      border-radius: 23px;
      background: #f5f5f5;
      color: #a4a4a4;
      letter-spacing: 0.64px;
      outline: none;
    }

    .fa-search {
      color: #ffffff;
      position: absolute;
      top: 26px;
      right: 5px;
    }

    .fa {
      background: #ff4081;
      padding: 9px;
      border-radius: 50%;
      box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
    }
  }

  &__categories {
    &-title {
      span {
        opacity: 0.87;
        color: #000000;
        font-size: 14px;
        font-weight: 700;
        padding: 16px 0;
        letter-spacing: 0.56px;
      }
    }

    dl {
      display: flex;
      justify-content: space-between;
      margin: 0;
      align-items: center;
      border-bottom: 1px solid #ebeaea;
      &:last-child {
        border: none;
      }

      dt {
        padding: 15px 3px 8px 0px;
        font-size: 13px;
      }

      dd {
        opacity: 0.87;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  &__subcribe {
    margin: 10px 0px -12px 0px;
    &_name {
      margin: 15px 0px 14px 0px;
    }

    &_email {
      margin: 15px 0px 12px 0;
    }
    &_input {
      padding: 12px 92px 12px 12px;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
    }
    &_button {
      border-radius: 4px;
      background-color: #3f51b5;
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      font-variant: small-caps;
      letter-spacing: 1.2px;
      padding: 5px 84px;
      margin: 8px 1px 24px 0px;
      position: relative;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #1d2d96;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      }

      &:active {
        background-color: #041dbe;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      }
    }

    &_line {
      height: 1px;
      background-color: #000;
      position: relative;

      span {
        position: absolute;
        bottom: -14px;
        right: 44%;
        background: #fff;
        padding: 7px 11px;
        border-radius: 50%;
      }
    }

    &_icons {
      margin: 24px 0 0 0;

      ul {
        display: flex;

        .fa {
          border-radius: 50%;
          height: 36px;
          width: 36px;
          font-size: 18px;
          line-height: 36px;
          text-align: center;
        }

        .fa-facebook {
          color: #ffffff;
          background: #3b5999;
        }

        .fa-twitter {
          color: #ffffff;
          background: #55acee;
        }

        .fa-vk {
          color: #ffffff;
          background: #4c75a3;
        }

        .fa-pinterest {
          color: #ffffff;
          background: #ff2e56;
        }

        .fa-tumblr {
          color: #ffffff;
          background: #34465d;
        }

        .fa-dribbble {
          color: #ffffff;
          background: #ea4c89;
        }
      }

      &-items {
        padding: 0 9px 0 0;
      }
    }
  }

  &__post {
    &_buttons {
      display: flex;
      margin: 25px 0 0 0;
      border: 1px solid #3f51b5;
      border-radius: 4px;
    }

    &_button {
      font-size: 14px;
      font-variant: small-caps;
      // letter-spacing: 0.8px;
      padding: 11px 21px 10px 26px;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background-color: #1d2d96;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      }

      &:active {
        background-color: #041dbe;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      }

      &-active {
        border-right: 1px solid;
      }
    }

    &_content {
      padding: 0px 0 14px 0;
      border-bottom: 1px solid #dee5e9;
      &:nth-child(4) {
      }
    }

    &_content:nth-child(6) {
      border-bottom: none;
    }

    &_desc {
      margin: 15px 0 0 0;
      display: flex;
      img {
      }
    }

    &_info {
      padding: 0px 0px 0 12px;
      .fa {
        color: #6f7dc8;
        margin: 0px 6px 0 0;
        font-size: 14px;
      }
    }

    &_date {
      display: flex;
      justify-content: space-between;
      letter-spacing: -0.5px;
    }

    &_time {
      font-size: 13px;
    }

    &_title {
      font-weight: 600;
      padding: 5px 0 0 0;
    }

    &-title {
      margin: 16px 0px -8px 0px;
    }
  }

  &__tags {
    &_list {
      margin: 15px 0 0 0;
      ul {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &_item {
      background-color: #eeeeee;
      padding: 7px 24px 5px 13px;
      margin: 5px 10px 6px 0px;
      font-size: 14px;
      border-radius: 4px;
      font-weight: 600;
    }
  }
}

@media (max-width: 480px) {
  .sidebar__categories dl dd {
    color: rgb(130, 130, 130);
  }
}

@media (max-width: 480px) {
  .sidebar__categories dl {
    border-bottom: 1px solid #606060;
  }
}

@media (max-width: 1200px) {
  dl dt a {
    color: #909090;
  }
}

@media (max-width: 1200px) {
  .sidebar__post {
    display: none;
  }
  .sidebar__title {
    border-bottom: none;
    color: #fff;
  }
  .sidebar__tags_item a {
    color: #909090;
  }
  .sidebar__tags_item {
    background: transparent;
    border: 1px solid #909090;
  }
}

@media (min-width: 480px) {
  .sidebar__main {
    // display: none;
    // overflow: hidden;
  }
}

@media (max-width: 480px) {
  .sidebar__main {
    background-color: #242527;
  }
}

@media (min-width: 480px) {
  .sidebar__main_wrapper {
    // display: none;
    // overflow: hidden;
  }
}

@media (min-width: 480px) {
  .sidebar__main_logo,
  .sidebar__main_text,
  .sidebar__main_btn {
    display: none;
  }
}

@media (max-width: 480px) {
  .sidebar__main_logo {
    font-size: 26px;
    font-weight: 600;
    margin: 40px 0 20px;
    color: #fff;
  }
  .sidebar__main_btn {
    background-color: #303030;
    margin: 10px 144px 0 0;
    padding: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.87;
    color: #909090;
    font-size: 11px;
    font-weight: 400;
    line-height: 27px;
    font-variant: small-caps;
    letter-spacing: 0.8px;
    border-radius: 15px;
  }
  .sidebar__main_text {
    color: rgb(144, 144, 144);
  }
}

@media (max-width: 1200px) {
  .sidebar__search,
  .sidebar__subcribe {
    display: none;
  }
}

.main {
  &__slider {
    display: flex;
    justify-content: center;

    &_img {
    }
  }
}

.subscribe {
  &__background {
    background: #242527;
  }

  &__input {
    display: flex;
    padding: 77px 0 74px 0;
    justify-content: space-around;
    align-items: center;

    h2 {
      margin: 0;
      color: #fff;
      font-size: 42px;
      font-weight: 600;
      letter-spacing: 3.3px;
    }
  }

  &__email {
    input {
      border: 1px solid #75797a;
      padding: 13px 70px 13px 20px;
      border-radius: 23px;
      background: transparent;
      color: #a4a4a4;
      letter-spacing: 0.64px;
      margin: 0 15px 0 20px;
      outline: none;
    }
  }

  &__buttnon {
    margin: 0px -8px 0px 0px;
  }
}

@media (max-width: 768px) {
  .subscribe__input {
    flex-direction: column;
    text-align: center;
  }
  .subscribe__email {
    margin: 20px 0;
  }
}

@media (max-width: 1200px) {
  .subscribe__input,
  .footer__widget_pages,
  .footer__widget_combined {
    display: none;
  }
}

.footer {
  &__main {
    background-color: #212121;
  }

  &__title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    padding: 0 0 24px 0;
    &_social {
      // padding: 0px 0 15px 0;
    }
  }

  &__widget {
    padding: 50px 0 70px 0;
    display: flex;

    &_pages {
      padding: 0 0px 18px 0px;
    }

    &_accordion {
      .accordion {
        background: transparent;
        color: #bdbdbd;
        cursor: pointer;
        padding: 15px 0px 12px 18px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        border-radius: 4px;
        border: 1px solid #ffffff;
        opacity: 0.38;
        margin: 0px 87px -1px 0;
        display: flex;
        justify-content: space-between;
      }

      .panel {
        padding: 0 18px;
        background: transparent;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: #595959;
        margin: 0 0 7px 0;
        border-bottom: 1px solid #757575;
        border-right: 1px solid #757575;
        border-left: 1px solid #757575;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        p {
          font-size: 14px;
        }
      }

      .accordion:after {
        content: "\02795";
        font-size: 13px;
        color: #909090;
        float: right;
        margin-left: 45px;
        margin-right: 10px;
      }

      .active:after {
        content: "\2796";
      }
    }

    &_combined {
      padding: 0 0px 0 0px;
      margin: 0 0px 0 25px;
    }

    &_twitter {
      margin: 0px 0px 23px 0px;
    }

    &_info {
      margin: 0 0 0 0;

      &:nth-child(3) {
        border-bottom: 1px solid #a9a9a9;
        border-top: 1px solid #a9a9a9;
        padding: 16px 0 3px 0;
      }

      a {
        height: 100%;
      }

      img {
        margin: 0px 0px 0 8px;
      }

      &-3 {
        margin: 12px 0 0 0;

        a {
          height: 100%;
        }

        img {
          margin: 0px 0px 0 8px;
        }
      }
    }

    &_breadcrumb {
      span {
        color: #a9a9a9;
        opacity: 0.7;
        font-size: 12px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.6px;
        margin: 0 2px 0 0px;

        a {
          color: #a9a9a9;
        }

        &:nth-child(n + 3) {
          border-bottom: 1px solid;
        }
      }
    }

    &_icon {
      display: flex;

      P {
        margin: -4px 0 0 0;
        color: #cecece;
        font-size: 14px;
        font-size: 13px;
        letter-spacing: 0.52px;
        letter-spacing: 0.56px;
        padding: 0px 0px 0px 22px;
        line-height: 20px;
      }
    }

    &_social {
      padding: 0 0px 0px 0px;

      ul {
        display: flex;

        .fa {
          border-radius: 50%;
          height: 36px;
          width: 36px;
          font-size: 18px;
          line-height: 36px;
          text-align: center;
        }

        .fa-facebook {
          color: #ffffff;
          background: #3b5999;
        }

        .fa-twitter {
          color: #ffffff;
          background: #55acee;
        }

        .fa-vk {
          color: #ffffff;
          background: #4c75a3;
        }

        .fa-pinterest {
          color: #ffffff;
          background: #ff2e56;
        }

        .fa-tumblr {
          color: #ffffff;
          background: #34465d;
        }

        .fa-dribbble {
          color: #ffffff;
          background: #ea4c89;
        }
      }

      &-items {
        padding: 0 9px 0 0;
      }
    }

    &_flickr {
      margin: 0px 0px 0 25px;
    }

    @media (max-width: 768px) {
      &_flickr {
        margin: 0;
        text-align: center;
      }
    }

    &_img {
      img {
        padding: 3px;
      }
    }

    &_form {
      display: flex;
      flex-direction: column;

      input {
        padding: 15px 0px 12px 14px;
        color: #909090;
        background: none;
        border: 1px solid #909090;
        border-radius: 3px;
        outline: none;
        margin: 0 0 10px 0;
      }

      &-button {
        padding: 10px 20px 10px 20px;
        margin: 10px 0 0px 0px;
        background: #303030;
        border: transparent;
        color: #fff;
        border-radius: 3px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
      }
    }

    .textarea {
      padding: 16px 26px 0px 15px;
      color: #909090;
      background: none;
      border: 1px solid #909090;
      border-radius: 3px;
      height: 105px;
      color: #909090;
      outline: none;
    }

    &_img {
      display: flex;
      flex-wrap: wrap;
      // justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .footer__widget_social {
    padding: 0 0 10px 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  .footer__title {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .footer__widget_social {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__widget_img {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer__widget_img img:nth-child(1),
  img:nth-child(2),
  img:nth-child(3),
  img:nth-child(4),
  img:nth-child(5) {
    display: none;
  }
}

.footer {
  background: #303030;

  &__lower {
    padding: 35px 0 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_nav {
      display: flex;
      align-items: center;
    }

    ul {
      // display: flex;
      // flex-wrap: wrap;

      li {
        list-style: none;
        padding: 0 0 0 25px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding: 0 33px 0 10px;

        a {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
    &_search {
      position: relative;
      margin: 0 0 0 70px;

      > input {
        border: 1px solid #a4a4a4;
        padding: 8px 33px 8px 19px;
        border-radius: 23px;
        background: transparent;
        color: #a4a4a4;
        letter-spacing: 0.64px;
        outline: none;
      }

      .fa-search {
        color: #a4a4a4;
        position: absolute;
        top: 10px;
        right: 14px;
        font-size: 13px;
      }
    }

    &_lang {
      display: flex;
      align-items: flex-end;
      color: #a4a4a4;

      .fa-globe {
        padding: 0 5px 0 0;
      }

      span {
        font-size: 12px;
        padding: 0 3px 0 0;
      }
    }
  }
}

@media (min-width: 480px) {
  .footer__lower ul {
    display: flex;
  }
}

@media (min-width: 480px) {
  .footer__lower_social {
    display: none;
  }
}

.footer__lower_social {
  list-style: none;
  // display: flex;
  align-items: center;
  // margin: 0 auto;
}

.footer__lower_social li .fa {
  color: #707070;
  font-size: 16px;
}

@media (max-width: 480px) {
  .footer__lower_social ul {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 768px) {
  .footer__lower_nav {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .footer__lower_nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer__lower ul li {
    // display: flex;
    padding: 0 4px;
    font-size: 10px;
  }
}

@media (max-width: 1200px) {
  .footer__lower_lang {
    display: none;
  }
  .footer__lower_search {
    display: none;
  }
  .footer__widget_news {
    display: none;
  }
}

@media (max-width: 960px) {
  .footer__widget {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__lower_copyright {
  display: flex;
  justify-content: center;
  p {
    margin: 0px 0 0 0;
    color: #909090;
  }
  span {
    width: 1px;
    height: 16px;
    background: #b4b4b4;
    opacity: 0.38;
    margin: 0 5px;
  }
}

@media (min-width: 480px) {
  .footer__lower_copyright {
    display: none;
  }
}

.owl-prev {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translatey(-90px);
  color: #fff !important;
  background: #fff;
  outline: none;
}

.owl-next {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translatey(-90px);
  color: #fff !important;
  background: #fff;
  outline: none;
}

.slide-two {
  max-width: 260px;
}

.slide-two .owl-prev {
  position: absolute;
  left: 30px;
  top: 93%;
  transform: translatey(-90px);
  background: #fff;
  outline: none;
  padding: 10px 14px !important;
}

.slide-two .owl-next {
  position: absolute;
  left: 206px;
  top: 94%;
  transform: translatey(-90px);
  color: #fff;
  background: #fff;
  outline: none;
}

.owl-carousel .article__author-avatar > img {
  width: 53px;
  height: 53px;
}
